

	<div class="trip-description">

    <input type="text" id="search" ng-model="address"/>
    <button ng-click="searchAddress()">Search</button>
    <span ng-show="newMarker!=null">
    <button ng-click="addPointToTrip()" ng->Add</button>
    <button ng-click="clearSearch()" ng->Cancel</button>
    </span>
    <button ng-click="saveTrip()" ng->Save trip</button>
    <h1>{{trip.title}}</h1>
    {{trip.description}}
    <div class="section" ng-repeat="section in trip.sections">
    <h2>{{section.name}}</h2>
    {{section.description}}
    <ul ng-repeat="location in section.locations">
    	<li>
    	<h3>{{location.name}}</h3>
    	{{location.description}}
    	</li>
    </ul>
    </div> 
	</div>    

        <google-map style="display:block;height:300px" center="map.center" zoom="map.zoom" control="map.control">
    <markers models="map.markers" coords="'self'" fit="true" options="'self'"/>
    <polyline ng-repeat="p in map.polylines" path="p.path"/>
    </google-map>
