    <div class="header">
      <div class="logo">
      MapTrip
      </div>
      <div class="controls">
      <form>
        <input type="text" id="search" ng-model="address"/>
        <button type="submit" ng-click="searchAddress()">Search</button>
      <button ng-click="addPointToTrip()" ng->Add</button>
      <button ng-click="clearSearch()" ng->Cancel</button>
      <button ng-click="saveTrip()" ng->Save trip</button>
      </form>
    </div>
    </div>

    <div class="trip-description">
      <h1>{{trip.title}}</h1>
      <p>{{trip.description}}</p>
      <div class="section" ng-repeat="section in trip.sections" ng-click="selectSection(section)" ng-class="{'selected':(selectedSection==section)}">
        <h2>{{section.name}}</h2>
        <p>{{section.description}}</p>
        <ul>
        	<li ui-draggable="true" drag="$index" ng-repeat="location in section.locations" ui-on-Drop="onDrop($data,location)">
           <b>{{location.name}}</b><br/>
           {{location.description}}
           <button ng-click="deleteLocation(section,location)">delete</button>
         </li>
       </ul>
     </div>
   </div>
   </div>    
   <div class="map">
    <google-map center="map.center" zoom="map.zoom" control="map.control" events="map.events" draggable="true">
      <markers models="map.markers" coords="'self'" fit="true" options="{draggable:true}"/>
      <marker coords="map.newMarker" options="'{animation:google.maps.Animation.DROP}'"/>
      <polyline ng-repeat="p in map.polylines" path="p.path" options="{draggable:true}"/>
    </google-map>  
</div>
